# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Virtualenv
venv/
ENV/
.env

# PostgreSQL
*.pgsql

# MacOS
.DS_Store

# Node
node_modules/

# Outros
*.swp
*.swo

# Docker
*.pid
docker-compose.override.yml

# IDEs
.idea/
*.iml

# Testes
coverage.xml
htmlcov/

# Arquivos de configuração
*.bak
*.tmp

# Certificados
*.pem

# Arquivos de ambiente
.env*
order_service/.env
