.botoes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.salvar button {
  background-color: green;
}

.cancelar button {
  background-color: red;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin: auto;
}

table {
  width: 100%;
}

.clientes-cadastrados {
  margin-top: 30px;
  width: 99%;
}

.cadastrar-cliente {
  width: 99%;
}